@{
    ViewData["Title"] = "About";
    String hostName = System.Net.Dns.GetHostName();
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1>@hostName</h1>
