@{
    ViewData["Title"] = "Host";
}
@{ 
    @using EMC.Helpers;
    var getHost = new GetHostName();
}

<h2>@ViewData["Title"]</h2>

<h1>@getHost.hostname</h1>

<div>Added a change.</div>